h1{
    text-align: center;
    font-weight:bold;
    font-size:120px;
    background-color:aquamarine;
    font-family: 'Pacifico', cursive;

}
nav{

    background-color: aqua;

}

.p {

    font-family: 'Courgette', cursive;
}



body {
    /* The image used */
    background:url("../images/icon.jpg") no-repeat center center fixed;


    height: 100%;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}