<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link href="../static/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="./css/stylesheet.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

       </div>
        <div class="navbar-header">
            <a href="/list">Home</a>
        </div>
        <div class="navbar-header">
            <a href="/add">Add Book </a>
        </div>
        <div class="navbar-header">
            <a href="/add">list of Books </a>
        </div>
        <div class="navbar-header">
            <a href="/add">Borrow Book </a>
        </div>
        <div class="navbar-header">
            <a href="/add">Return Book</a>
        </div>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md">
<form
      th:action="@{/process}"
      th:object="${book}"
      method="post">

    Title :<input type ="text" th:field="${book.title}"/>
    Author :<input type ="text" th:field="${book.author}"/>
    Year :<input type ="text" th:field="${book.year}"/>
    ISBN :<input type ="text" th:field="${book.isbn}"/>
    Image :<input type ="text" th:field="${book.image}"/>


    <div class="container"> <select th:field="${book.bookinfo}">
        <option value="Book has been borrowed">Borrow</option>
        <option value="Book has been Returned">Return</option>
        <option value="Book is available">Book List</option>
        <option value="Added the Book">Add Book</option>
    </select>


        <div class="container">  <input type="submit" value="Submit"/></div>

    </div>
</form>

        </div>
    </div>
</div>

<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-lg">


                <p>List of books calculate here wheather add or reduce one </p>

                <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
                    <input type="amount of books" id="a" value="50"/>100
                    +<input type="number" id="b" value="50"/>
                    =<output name="x" for="a b"></output>
                </form>
            </div>


        </div>
    </div>

    <div class="jumbotron text-center">
        <h1>Good Luck!</h1>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>