<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link href="../static/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="./css/stylesheet.css" rel="stylesheet"/>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="navbar-header">
            <a href="/list">Home</a>
        </div>
        <div class="navbar-header">
            <a href="/add">Add Book </a>
        </div>
        <div class="navbar-header">
            <a href="/borrow">Borrow Book </a>
        </div>
        <div class="navbar-header">
            <a href="/return">Return Book</a>
        </div>

    </div>
</nav>

<p>Show All the Books</p>

<li>Introduce Java Programming</li>
<li> Paul</li>
<li>2009</li>
<li> 64564898</li>

<h2>List of books calculate here wheather add or reduce one </h2>

<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
    <input type="amount of books" id="a" value="50">100
    +<input type="number" id="b" value="50">
    =<output name="x" for="a b"></output>
</form>



<a herf ="/">Show All Books</a> <br/>
Title :<span th:text= " ${book.title}"> </span><br/>
Author :<span th:text= " ${book.author}"> </span><br/>
Year:<span th:text= " ${book.year}"> </span><br/>
ISBN:<span th:text= " ${book.isbn}"> </span><br/>
Images:<span th:text= " ${book.image}"> </span><br/>


        <!--<td th:text="${course.year}"> </td>-->
        <!--<td th:text="${course.isbn}"> </td>-->
        <!--<td th:text="${course.image}"> </td>-->

    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>