<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link href="/static/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="/css/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<body background=".../images/library.jpg"></body>
<div class="container">
    <h1>JBC Library</h1>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="navbar-header">
            <a th:href="@{/}">Home</a>
        </div>

        <div class="navbar-header">
            <a th:href="@{/add}">Add Book </a>
        </div>
        <div class="navbar-header">
            <a th:href="@{/add}">Borrow Book </a>
        </div>
        <div class="navbar-header">
            <a th:href="@{/add}">Return Book</a>
        </div>

    </div>
</nav>
<div align="right">

<img src="images/b.jpg" alt="Book" width="500px"></img>

</div>





<div th:each="book : ${books}">
    <h4 th:inline="text">[[${book.title}]] </h4>
    <h4 th:inline="text">[[${book.author}]]  [[${book.year}]]</h4>
    <h4 th:inline="text">[[${book.isbn}]] </h4>
    <h4 th:inline="text">[[${book.image}]] </h4>
    <h4 th:inline="text">[[${book.bookinfo}]] </h4>

</div>
<div class="container">
    <div class="row">
<table>

<p> List the Book Here</p><br/>

    <div>

    <tr th:each="book : ${books}">
        <td th:text="${book.title}"> </td><br/>
        <td th:text="${book.author}"> </td>
        <td>

            <a th:href="@{/borrowbook/{id}(id=${book.id})}"> Borrow</a> -
            <a th:href="@{/returnbook/{id}(id=${book.id})}"> Return</a>


        </td>
    </tr>
    </div>
</table>

    </div>
    <div>

<li>Introduce Java Programming</li>
<li> Paul</li>
<li>2009</li>
<li> 64564898</li>
        </div>
    </div>




<!--<a th:href="@{/delete/{id}(id=${course.id})}"> Delete</a>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>