<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link href="../static/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="./css/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<body> <body background=".../images/library.jpg"></body></body>
<div class="container">
    <h1>JBC Library</h1>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="navbar-header">
            <a th:href="@{/}">Home</a>
        </div>
        <div class="navbar-header">
            <a th:href="@{/add}">Add Book </a>
        </div>
        <div class="navbar-header">
            <a th:href="@{/add}">Borrow Book </a>
        </div>
        <div class="navbar-header">
            <a th:href="@{/add}">Return Book</a>
        </div>

    </div>
</nav>

  <!--<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="nav-link" href="list.html">Home</a>
        <a class="nav-link" href="/add">Add a Book</a>
        <a class="nav-link" href="/list">List of Books</a>
        <a class="nav-link" href="/borrowbooks/">Borrow Books</a>

        <a class="nav-link" href="/returnbooks/">Return Books</a>

        <div class="collapse navbar-collapse" id="nav">





        </div>

    </nav>

</div>-->


<a herf ="/">Show All Books </a> <br/>

<li>Introduce Java Programming</li>
<li> Paul</li>
<li>2009</li>
<li> 64564898</li>

<li> Image is not available</li>


<!--Title :<span th:text= " ${book.title}"> </span><br/>-->


<a href="/add"> Add a Book</a><br />
<div th:each="book : ${books}">
    <h4 th:inline="text">[[${book.title}]] </h4>
    <h4 th:inline="text">[[${book.author}]]  [[${book.year}]]</h4>
    <h4 th:inline="text">[[${book.isbn}]] </h4>
    <h4 th:inline="text">[[${book.image}]] </h4>
    <h4 th:inline="text">[[${book.bookinfo}]] </h4>
</div>
<!--Author :<span th:text= " ${book.author}"> </span><br/>-->
<!--Year:<span th:text= " ${book.year}"> </span><br/>-->
<!--ISBN:<span th:text= " ${book.isbn}"> </span><br/>-->

<!--Images:<span th:text= " ${book.image}"> </span><br/>-->

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2 class="text-center"><mark> Find the Books</mark></h2>
        </div>
        <div class="col-md">
            <h2 class="text-center"><mark>Borrow from the library</mark></h2>
        </div>
        <div class="col-md">
            <h2 class="text-center"> <mark>Return it when you are Done</mark></h2>
        </div>
    </div>
</div>

<div class="jumbotron text-center">
    <h1>Good Luck!</h1>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>